@charset="UTF-8";
@import "mobile.css";

#description, #cite, #example{
  font-size: 1.2em;
  float:left;
  /*margin-left: 50px;
  margin-right: 50px;*/
  width:50%;
}
.col1{
  width:100%;
}
.description{
  width:49%;
  float:left;
  margin-right:2%;
}
.cite{
  width:49%;
  float:left;
  /*no margin right*/
}
h1{
  padding-top: 40px;
  padding-left: 40px;
  padding-right:40px;
  font-size:2.5em;
}
p{
  font-size:1.1em;
}
