@import "tablet.css";
img{
  margin: 1em;
  border: .3em solid #538083;
}
.whiteblock{
  border: .4em solid #c3acce;
}
#title{
}
#intro{
  margin: 1em;
}
#hobbies{
  font-size: 1.6vw;
}
.portfolio, .contact{

  /*top right bottom left*/
}
