@import "tablet.css";
img{
  margin: 1em;
  border: .3em solid #538083;
}
.whiteblock{
  border: 8px solid #c3acce;
}
#title{
}
#intro{
  margin: 1em;
}
#hobbies{
}
li{

}
.portfolio, .contact{

  /*top right bottom left*/
}
