body{
  background-color: #dfd9e2;
  font-family: 'Quicksand', serif;
}
.whiteblock{
  width: 85%;
  display: table;
  background-color: white;
  margin: auto;
  border: .2em solid #c3acce;
}
img{
  width: 50%;
  float: left;
  margin: .3em;
  border: .25em solid #538083;
}
#title{
  font-size: 4vw;
  color: #2a7f62;
  font-weight: bold;
  letter-spacing: .1em;
  margin-bottom: auto;
  margin-top: .2em;
}
#intro{
  font-size: 2.5vw;
  margin: 0em .5em .1em .5em;
  width: auto;
          /*top right bottom left*/
}
#hobbies{
  color: #89909f;
  list-style-type: none;
  font-size: 1.6vw;
  margin: .1em .24em .1em .22em;
}
li{
  margin-top: .6em;
  width: auto;
}
a:link{
  color: #538083;
  text-decoration: none;
}
a:visited{
  color: #538083;
  text-decoration: none;
}
a:hover{
  color: #c3acce;
  text-decoration: none;
}
a:active{
  color: #538083;
  text-decoration: none;
}
.accordion {
  clear: both;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 2.5vw;
  color: #2a7f62;
  margin-left: .2em;
  margin-bottom: 1.6vw;
}
.panel{
  margin: auto;
  margin-top:.1em;
  margin-left: 1em;
  margin-bottom: .3em;
  display: block;
  font-weight: bold;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  font-size: 1vw;
}
.tab{
  clear: both;
}
#email{
  font-weight: bold;
  color: #538083;
  float: right;
  font-size: 1.5vw;
  border-style: none;
  border-radius: 10%;
}
.name{
  font-weight: bold;
  margin-left: 2em;
}
.details{
  font-size: .9vw;
  margin-left: 3em;
  font-family: italic;
  font-family: 'Roboto', sans-serif;
  margin-bottom: .4em;
}
