body{
  margin:0;
  padding:0;
  text-align: center;
  background-color: #dfd9e2;
  overflow: hidden;
}
.image{
  max-width: 75%;
  height: auto;
  opacity:1;
  transition: 4s ease;
  backface-visibility: hidden;
}
.middle{
  transition: 4s ease;
  opacity: 0;
  top: 20%;
  left: 50%;
  position: absolute;
  transform: translate (-50%, -50%);
}
.container:hover .image{
  opacity: 0.3;
}
.container:hover .middle{
  opacity:1;
}
.btn{
  background-color: #C3ACCE;
  color: white;
  font-size: 10px;
  padding: 8px 15px;
}
a{
  color:white;
}
a:link{
  text-decoration: none;
}
p{
  color: #FFFFFF:
  position: relative;
  text-align: center;
}
