@import "mobile.css";
.btn{
  background-color: #C3ACCE;
  color: white;
  font-size: 17px;
  padding: 14px 20px;
}
.middle{
  transition: 4s ease;
  opacity: 0;
  top: 40%;
  left: 50%;
  position: absolute;
  transform: translate (-50%, -50%);
}
