@import "mobile.css";
img{
  margin: 10px;
  border: 3px solid #538083;
}
.whiteblock{
  border: 6px solid #c3acce;
}
#title{
  font-size: 1.3em;
  letter-spacing: 2px;
}
#intro{
  font-size: 1em;
  margin: 15px;
}
#hobbies{
  font-size: .8em;
}
