@import "mobile.css";
img{
  border: .3em solid #538083;
}
.whiteblock{
  border: .3em solid #c3acce;
}
li{

}
.accordion{
  margin-bottom: 1.6vw;
}
.whiteblock{
  width: 85%;
}
.details{
  font-size: 1.6vw;
}
.jobdetails{
  font-size: 1.6vw;
}
.date{
  font-size: 1.5vw;
}
